Repository Orange-OpenSource/Orange-Boosted-Bootstrap, pull requests merged in 2022-12, with the labels that each got.

#1688 chore(deps): bump Storybook dependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#1376 Card examples fix
  scss/_card.scss
  site/content/docs/5.2/components/card.md
  site/content/docs/5.2/examples/cards-rtl/index.html
  site/content/docs/5.2/examples/cards/index.html
  site/content/docs/5.2/migration.md
Labels: v5, docs, fix, OK design

#1444 Tooltip for forms
  .bundlewatch.config.json
  scss/_variables.scss
  scss/forms/_labels.scss
  site/content/docs/5.2/forms/overview.md
  site/content/docs/5.2/migration.md
Labels: v5, brand, docs, css, OK accessibility, OK design

#1692 Remove 404 link in previous releases menu
  site/layouts/partials/docs-versions.html
Labels: v5, docs, fix

#1230 fix(doc): add small size input example
  .bundlewatch.config.json
  scss/_variables.scss
  scss/forms/_form-control.scss
  scss/forms/_form-select.scss
  scss/forms/_input-group.scss
  scss/forms/_labels.scss
  scss/forms/_quantity-selector.scss
  site/content/docs/5.2/forms/form-control.md
  site/content/docs/5.2/forms/input-group.md
  site/content/docs/5.2/forms/layout.md
  site/content/docs/5.2/forms/select.md
  site/content/docs/5.2/migration.md
Labels: v5, docs, fix, awaiting-reply

#1707 chore(deps-dev): bump pa11y-ci-reporter-html from 3.0.3 to 4.0.0
  .github/workflows/pa11y.yml
  .gitignore
  build/.pa11yci.json
  package-lock.json
  package.json
Labels: dependencies, chore

#1712 chore(deps-dev): bump pa11y-ci-reporter-html from 4.0.0 to 5.0.2
  package-lock.json
  package.json
Labels: dependencies, chore

#1420 Remove hover for active tab
  scss/_nav.scss
Labels: v5, css

#1706 chore: enhance PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore, skip:ci, enhancement

#1713 Design callouts for merging in main
  site/content/docs/5.2/components/badge.md
  site/content/docs/5.2/components/breadcrumb.md
  site/content/docs/5.2/components/button-group.md
  site/content/docs/5.2/components/buttons.md
  site/content/docs/5.2/components/carousel.md
  site/content/docs/5.2/components/collapse.md
  site/content/docs/5.2/components/dropdowns.md
  site/content/docs/5.2/components/list-group.md
  site/content/docs/5.2/components/modal.md
  site/content/docs/5.2/components/navs-tabs.md
  site/content/docs/5.2/components/progress.md
  site/content/docs/5.2/components/tooltips.md
  site/content/docs/5.2/content/reboot.md
  site/content/docs/5.2/customize/color.md
  site/content/docs/5.2/forms/input-group.md
  site/content/docs/5.2/forms/layout.md
  site/content/docs/5.2/getting-started/introduction.md
  site/layouts/shortcodes/ods-incompatibility-alert.html
Labels: v5, docs, enhancement

#859 Adding features to tables
  .bundlewatch.config.json
  scss/_tables.scss
  scss/_variables.scss
  scss/mixins/_table-row.scss
  scss/mixins/_table-variants.scss
  site/content/docs/5.2/content/tables.md
  site/content/docs/5.2/migration.md
  site/layouts/shortcodes/table.html
Labels: v5, feature, component, OK accessibility, OK design

#1559 Add form example in boosted doc
  site/content/docs/5.2/examples/form/form.js
  site/content/docs/5.2/examples/form/index.html
  site/content/docs/5.2/migration.md
  site/data/examples.yml
  site/static/docs/5.2/assets/img/boosted-sprite.svg
  site/static/docs/5.2/assets/img/examples/form.png
  site/static/docs/5.2/assets/img/examples/form@2x.png
  stories/create-stories-from-doc.js
Labels: v5, docs, examples, OK accessibility, OK design

#1730 chore(examples): better management of SVGs in examples
  site/content/docs/5.2/examples/form/index.html
  site/content/docs/5.2/examples/stickers/index.html
  site/static/docs/5.2/assets/img/boosted-sprite.svg
Labels: v5, docs, examples, enhancement

#1720 CSS: Add defensive CSS regarding `code` tag
  scss/_reboot.scss
Labels: v5, css

#1710 Move table-responsive class from <table> tag to <div> tag above
  site/assets/scss/_content.scss
  site/content/docs/5.2/content/tables.md
Labels: v5, docs, fix

#1731 docs: enhance rendering of `scss-docs` in Customize > Color section
  site/content/docs/5.2/customize/color.md
Labels: v5, docs, enhancement

#1384 Webpack, Vite and Parcel guides enhancements
  site/content/docs/5.2/getting-started/javascript.md
  site/content/docs/5.2/getting-started/parcel.md
  site/content/docs/5.2/getting-started/vite.md
  site/content/docs/5.2/getting-started/webpack.md
  site/static/docs/5.2/assets/img/guides/parcel-dev-server-boosted.png
  site/static/docs/5.2/assets/img/guides/parcel-dev-server.png
  site/static/docs/5.2/assets/img/guides/vite-dev-server-boosted.png
  site/static/docs/5.2/assets/img/guides/vite-dev-server.png
  site/static/docs/5.2/assets/img/guides/webpack-dev-server-boosted.png
  site/static/docs/5.2/assets/img/guides/webpack-dev-server.png
Labels: v5, docs

#1164 Fixes for dropdown
  js/src/dropdown.js
  scss/_button-group.scss
  scss/_dropdown.scss
  scss/_variables.scss
  site/assets/scss/_navbar.scss
  site/content/docs/5.2/components/dropdowns.md
  site/content/docs/5.2/components/navbar.md
  site/content/docs/5.2/migration.md
  site/layouts/partials/docs-versions.html
Labels: v5, enhancement, OK design

#1437 Apply visible focus design guidelines in all components
  .bundlewatch.config.json
  js/index.esm.js
  js/index.umd.js
  scss/_accordion.scss
  scss/_back-to-top.scss
  scss/_buttons.scss
  scss/_carousel.scss
  scss/_close.scss
  scss/_dropdown.scss
  scss/_footer.scss
  scss/_list-group.scss
  scss/_mixins.scss
  scss/_nav.scss
  scss/_navbar.scss
  scss/_pagination.scss
  scss/_reboot.scss
  scss/_root.scss
  scss/_stepped-process.scss
  scss/_tags.scss
  scss/_type.scss
  scss/_variables.scss
  scss/forms/_form-check.scss
  scss/forms/_form-control.scss
  scss/forms/_form-range.scss
  scss/forms/_star-rating.scss
  scss/helpers/_colored-links.scss
  scss/mixins/_focus.scss
  scss/mixins/_list-group.scss
  site/assets/js/code-examples.js
  site/assets/scss/_anchor.scss
  site/assets/scss/_clipboard-js.scss
  site/assets/scss/_navbar.scss
  site/assets/scss/_search.scss
  site/content/docs/5.2/forms/checks-radios.md
  site/content/docs/5.2/getting-started/accessibility.md
  site/content/docs/5.2/migration.md
  site/layouts/partials/skippy.html
  site/layouts/shortcodes/ods-incompatibility-alert.html
Labels: v5, brand, feature, accessibility, need a11y review, need design review

#1727 Add padding to accordion content
  scss/_accordion.scss
  scss/_variables.scss
  site/content/docs/5.2/migration.md
Labels: v5, fix, css, need design review

#1449 Cards: Header padding-top fix
  scss/_card.scss
  scss/_variables.scss
  site/content/docs/5.2/migration.md
Labels: v5, brand, css

#1750 fix(docs): add aliases for form example
  site/content/docs/5.2/examples/form/index.html
Labels: v5, docs
