Repository Orange-OpenSource/Orange-Boosted-Bootstrap, pull requests merged in 2022-10, with the labels that each got.

#1546 fix: live preview URL in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github_actions

#1547 feat(workflow): temporarily disable BrowserStack
  .github/workflows/browserstack.yml
Labels: v5, github_actions

#1531 Close button: Adding CSS var
  .bundlewatch.config.json
  scss/_close.scss
  scss/_variables.scss
  site/content/docs/5.2/components/close-button.md
Labels: v5, docs, css

#1293 Fix `*-dark` rule
  scss/_root.scss
  site/content/docs/5.2/customize/css-variables.md
Labels: v5, fix, css

#1441 Re-introduce thumbnail images
  scss/_variables.scss
  site/content/docs/5.2/content/images.md
Labels: v5, docs

#1426 Buttons: Adding CSS var
  scss/_buttons.scss
Labels: v5, css

#1422 Navbar: Add CSS var
  scss/_navbar.scss
  scss/_orange-navbar.scss
  scss/_variables.scss
Labels: v5, css

#1424 Alert: Adding CSS var
  scss/_alert.scss
  scss/_variables.scss
Labels: v5, reverse-to-bootstrap, css

#1371 Valid icon on select
  scss/_variables.scss
  scss/mixins/_forms.scss
Labels: v5, fix

#1306 fix(forms): hide input control text under valid icon
  scss/mixins/_forms.scss
Labels: v5, fix, css

#1566 Close icon: Changing the icon to have the good one
  .bundlewatch.config.json
  scss/_variables.scss
Labels: v5, brand, css, enhancement

#988 Tags
  .bundlewatch.config.json
  scss/_tags.scss
  scss/_variables.scss
  scss/boosted.scss
  scss/forms/_form-check.scss
  site/content/docs/5.2/about/overview.md
  site/content/docs/5.2/components/tags.md
  site/content/docs/5.2/customize/overview.md
  site/content/docs/5.2/examples/tags/index.html
  site/data/examples.yml
  site/data/sidebar.yml
  site/layouts/partials/home/masthead.html
  site/layouts/shortcodes/added-in.html
  site/static/docs/5.2/assets/img/examples/tags.png
  site/static/docs/5.2/assets/img/examples/tags@2x.png
Labels: v5, brand, OK accessibility, OK design

#1567 fix(css): rename `$prefix` in `$func-prefix` in `get-color-from-rgba-string` function
  scss/mixins/_utilities.scss
Labels: v5, fix, css

#1573 fix(docs): bad title for 'Image thumbnails' example
  site/content/docs/5.2/content/images.md
Labels: v5, docs, fix

#1574 Fix close button inside tags on Chrome
  scss/_tags.scss
  site/content/docs/5.2/components/tags.md
Labels: v5, fix, css

#1579 fix(paginations): add missing breakpoints after lg
  scss/_pagination.scss
Labels: v5, fix, css

#1522 Prepare migration guide v5.2.0 → v5.2.1
  site/content/docs/5.2/migration.md
Labels: v5, docs
