Repository Orange-OpenSource/Orange-Boosted-Bootstrap, pull requests merged in 2022-08, with the labels that each got.

#1465 Delete .mark padding in Docs
  scss/_variables.scss
Labels: v4, css

#1469 chore/merge-main@c3c6591
  .bundlewatch.config.json
  .stylelintrc
  js/src/scrollspy.js
  js/src/tooltip.js
  js/tests/unit/scrollspy.spec.js
  js/tests/unit/tooltip.spec.js
  package-lock.json
  package.json
  scss/_carousel.scss
  scss/_functions.scss
  scss/_list-group.scss
  scss/_root.scss
  scss/_stepped-process.scss
  scss/_variables.scss
  scss/forms/_input-group.scss
  scss/mixins/_forms.scss
  site/assets/scss/_navbar.scss
  site/content/docs/5.2/components/popovers.md
  site/content/docs/5.2/components/scrollspy.md
  site/content/docs/5.2/examples/features/features.css
  site/content/docs/5.2/examples/features/index.html
  site/content/docs/5.2/forms/layout.md
  site/content/docs/5.2/layout/grid.md
Labels: v5, merge

#1458 Border utility: make subtractive borders 2px
  site/assets/scss/_component-examples.scss
  site/content/docs/4.6/utilities/borders.md
Labels: docs, backport-to-v4

#1456 Progress bar: Reduce size to be branded
  scss/_variables.scss
Labels: v4, brand, css

#1438 Navbar version: fix box shadow
  site/layouts/partials/docs-versions.html
Labels: v5, docs, fix

#1425 Fix alerts height
  scss/_alert.scss
Labels: v5, brand, fix, css

#1460 Brand doc: Fix clear space that overlap on certain breakpoints
  site/content/docs/4.6/about/brand.md
  site/content/docs/4.6/boosted-migration.md
  site/content/docs/4.6/components/buttons.md
  site/content/docs/4.6/components/pagination.md
Labels: v4, accessibility, docs, fix

#1442 `.form-text`: fix margin-top, font-size and color
  scss/_forms.scss
  scss/_variables.scss
  site/content/docs/4.6/components/forms.md
Labels: v4, docs, backport-to-v4, fix

#1459 Text break: remove for RTL and add a callout
  scss/utilities/_text.scss
  site/content/docs/4.6/utilities/text.md
Labels: v4, backport-to-v4

#1457 feat(pagination): Remove CSS vars for $pagination after Bootstrap team review
  scss/_pagination.scss
Labels: v5, fix, css

#1418 Modal: Remove unused CSS variables
  scss/_modal.scss
Labels: v5, css

#1440 Docs: Make the grid values back from v4
  site/content/docs/5.2/layout/containers.md
  site/content/docs/5.2/layout/grid.md
Labels: docs, back-from-v4

#1485 Stepped process: Fix arrow shape
  scss/_variables.scss
Labels: v5, brand, fix, css

#1484 Fix .mark padding (backport from v4.6)
  scss/_variables.scss
Labels: v5, fix, css

#1451 Dropdown: `min-width` on toggle-split dropdown
  scss/_button-group.scss
Labels: v5, brand, css

#1494 Docs: make buttons text descriptive of the used class
  site/content/docs/5.2/components/buttons.md
Labels: v5, docs

#1497 Docs: third level Reboot list
  site/content/docs/5.2/content/reboot.md
Labels: v5, docs

#1499 Docs: Some changes in tables
  site/content/docs/5.2/components/buttons.md
  site/content/docs/5.2/components/carousel.md
  site/content/docs/5.2/components/collapse.md
  site/content/docs/5.2/components/dropdowns.md
  site/content/docs/5.2/components/list-group.md
  site/content/docs/5.2/components/modal.md
  site/content/docs/5.2/components/navs-tabs.md
  site/content/docs/5.2/components/offcanvas.md
  site/content/docs/5.2/components/popovers.md
  site/content/docs/5.2/components/scrollspy.md
  site/content/docs/5.2/components/toasts.md
  site/content/docs/5.2/components/tooltips.md
Labels: v5, docs, reverse-to-bootstrap

#1432 feat(docs): enhance Algolia search results for a11y
  site/assets/scss/_search.scss
Labels: accessibility, docs, enhancement

#1502 fix(docs): move 'Dark variant' sections out of 'Example' for alerts and accordions
  site/content/docs/5.2/components/accordion.md
  site/content/docs/5.2/components/alerts.md
Labels: v5, docs, fix

#1434 Stepped process: Adding dark variant
  scss/_stepped-process.scss
  scss/_variables.scss
  site/content/docs/5.2/components/stepped-process.md
Labels: v5, brand, css

#1503 chore(deps): update `package-lock.json`
  package-lock.json
Labels: v5, dependencies

#1487 fix(docs): inform users that Orange Helvetica CSS file names has changed in migration guide
  site/content/docs/5.2/getting-started/rtl.md
  site/content/docs/5.2/migration.md
  site/layouts/partials/scripts.html
Labels: v5, docs, fix

#1423 Dropdown: Adding and trim CSS var
  scss/_dropdown.scss
Labels: v5, reverse-to-bootstrap, css

#1433 Pagination: Adding dark variant
  .bundlewatch.config.json
  .cspell.json
  scss/_pagination.scss
  scss/_variables.scss
  site/content/docs/5.2/components/pagination.md
  site/content/docs/5.2/components/stepped-process.md
Labels: v5, brand, css

#1430 Breadcrumb: Add dark variant
  .bundlewatch.config.json
  scss/_breadcrumb.scss
  scss/_pagination.scss
  scss/_variables.scss
  site/content/docs/5.2/components/breadcrumb.md
Labels: v5, brand, css
