Repository Orange-OpenSource/Orange-Boosted-Bootstrap, pull requests merged in 2022-07, with the labels that each got.

#1345 Chore/merge main@8959bf3
  .bundlewatch.config.json
  js/src/dom/event-handler.js
  js/tests/visual/modal.html
  scss/_offcanvas.scss
  site/assets/scss/_masthead.scss
  site/content/docs/5.2/components/buttons.md
  site/content/docs/5.2/components/carousel.md
  site/content/docs/5.2/components/collapse.md
  site/content/docs/5.2/components/dropdowns.md
  site/content/docs/5.2/components/list-group.md
  site/content/docs/5.2/components/modal.md
  site/content/docs/5.2/components/navs-tabs.md
  site/content/docs/5.2/components/offcanvas.md
  site/content/docs/5.2/components/popovers.md
  site/content/docs/5.2/components/scrollspy.md
  site/content/docs/5.2/components/toasts.md
  site/content/docs/5.2/components/tooltips.md
  site/content/docs/5.2/examples/blog-rtl/index.html
  site/content/docs/5.2/examples/blog/index.html
  site/content/docs/5.2/examples/cheatsheet-rtl/index.html
  site/content/docs/5.2/examples/cheatsheet/index.html
  site/content/docs/5.2/examples/cover/index.html
  site/content/docs/5.2/examples/features/index.html
  site/content/docs/5.2/examples/grid/index.html
  site/content/docs/5.2/examples/headers/index.html
  site/content/docs/5.2/examples/jumbotron/index.html
  site/content/docs/5.2/examples/navbars-offcanvas/index.html
  site/content/docs/5.2/examples/offcanvas-navbar/index.html
  site/content/docs/5.2/examples/product/index.html
  site/content/docs/5.2/examples/sidebars/index.html
  site/content/docs/5.2/getting-started/introduction.md
  site/content/docs/5.2/getting-started/parcel.md
  site/content/docs/5.2/layout/columns.md
  site/content/docs/5.2/layout/css-grid.md
  site/content/docs/5.2/layout/grid.md
  site/content/docs/5.2/layout/gutters.md
  site/content/docs/5.2/utilities/display.md
  site/data/sidebar.yml
  site/layouts/partials/home/masthead.html
  site/layouts/shortcodes/orange-footer.html
Labels: v5, merge

#1339 Checkbox fixes
  scss/_variables.scss
  scss/forms/_form-check.scss
  site/assets/js/snippets.js
  site/content/docs/5.2/forms/checks-radios.md
Labels: v5, fix

#1363 Fix active color of button link
  scss/_buttons.scss
Labels: v5, fix

#1366 Fix boosted logo on homepage
  site/assets/scss/_boosted.scss
Labels: v5, fix

#1367 chore(docs): small improvement to separate h1 and lead paragraph
  site/layouts/_default/docs.html
  site/layouts/_default/single.html
  site/layouts/partials/ads.html
Labels: v5, docs, enhancement

#1346 Fix Back to top container to allow clicking under the transparent surface
  scss/_back-to-top.scss
Labels: v5, fix

#1292 Footer focus change
  scss/_o-footer.scss
  site/content/docs/4.6/components/orange-footer.md
  site/content/docs/4.6/examples/news-template/index.html
  site/content/docs/4.6/examples/orange-form/index.html
  site/content/docs/4.6/examples/orange-homepage/index.html
  site/layouts/partials/boostwatch/ofooter.html
Labels: v4, fix, css, enhancement

#1361 Fix the background color for validated input
  scss/_variables.scss
  scss/mixins/_forms.scss
Labels: v5, fix

#1280 Use Footer component in docs
  site/assets/scss/_footer.scss
  site/layouts/partials/footer.html
Labels: v5, docs, enhancement

#1379 Chore/merge v4 dev@4954ea1
  package-lock.json
  package.json
  site/assets/js/vendor/clipboard.min.js
Labels: v4, merge

#1224 fix(social-btn): add white border on dark background for active state
  .bundlewatch.config.json
  scss/_buttons.scss
Labels: v4, backport-to-v4, css

#1381 chore(workflows): temporarily enable BrowserStack for each push
  .github/workflows/browserstack.yml
Labels: v5, build

#1383 chore(deps): bump tarteaucitron from 1.9.6 to 1.9.7
  package-lock.json
  package.json
Labels: v5, dependencies

#1281 CSS var: stepped process
  .bundlewatch.config.json
  scss/_stepped-process.scss
  scss/_variables.scss
  site/content/docs/5.2/components/stepped-process.md
Labels: v5, css, enhancement

#1249 Fixing buttons in tac
  site/assets/js/tac.js
  site/assets/scss/_tarteaucitron.scss
Labels: v5, js, fix, css

#1389 chore(deps): revert tarteaucitronjs from 1.9.7 to 1.8.4
  package-lock.json
  package.json
Labels: dependencies, chore, fix

#1397 Chore merge main@4035ad1
  CHANGELOG.md
  js/src/util/index.js
  js/src/util/sanitizer.js
  js/tests/unit/dom/selector-engine.spec.js
  package-lock.json
  package.json
  scss/mixins/_grid.scss
  scss/mixins/_utilities.scss
  site/content/docs/5.2/about/translations.md
  site/content/docs/5.2/components/carousel.md
  site/content/docs/5.2/content/reboot.md
  site/content/docs/5.2/customize/css-variables.md
  site/content/docs/5.2/extend/approach.md
  site/content/docs/5.2/getting-started/accessibility.md
  site/content/docs/5.2/getting-started/contribute.md
  site/content/docs/5.2/getting-started/introduction.md
  site/content/docs/5.2/getting-started/parcel.md
  site/content/docs/5.2/getting-started/rtl.md
  site/content/docs/5.2/getting-started/vite.md
  site/content/docs/5.2/getting-started/webpack.md
  site/content/docs/5.2/layout/columns.md
  site/content/docs/5.2/layout/grid.md
  site/data/examples.yml
  site/layouts/shortcodes/example.html
Labels: v5, merge

#1347 Fix stepped process `line-height`
  scss/_stepped-process.scss
  scss/_variables.scss
Labels: v5, fix, css

#1398 Chore merge/main@f451b41
  js/tests/unit/dom/event-handler.spec.js
Labels: v5, merge

#1399 chore/merge-v4-dev@e5643aa
  site/content/docs/4.6/content/reboot.md
Labels: v4, merge

#1296 V4 dev lmp tabs fixes
  .bundlewatch.config.json
  js/src/tab.js
  site/content/docs/4.6/components/navs.md
Labels: v4, accessibility, fix

#1314 fix(deps): bump Swiper from 4.5.1/6.5.1 to 8.3.1
  config.yml
  package-lock.json
  package.json
  scss/_o-carousel.scss
  site/content/docs/4.6/components/custom-carousel.md
  site/content/docs/4.6/examples/orange-homepage/index.html
  site/layouts/partials/boostwatch/carousel.html
  site/layouts/partials/scripts.html
  site/layouts/partials/stylesheet.html
  site/static/docs/4.6/assets/css/vendor/swiper-bundle.min.css
  site/static/docs/4.6/assets/css/vendor/swiper.min.css
  site/static/docs/4.6/assets/css/vendor/swiper.min.css.map
  site/static/docs/4.6/assets/js/vendor/swiper-bundle.min.js
  site/static/docs/4.6/assets/js/vendor/swiper.min.js
Labels: v4, dependencies, docs, fix

#1400 chore(workflow): remove Slack release notifier
  .github/workflows/notify.yml
Labels: v4, github_actions

#1401 chore(workflow): remove Slack release notifier
  .github/workflows/notify.yml
Labels: v5, github_actions

#1271 feat(offcanvas): Add CSS vars for %offcanvas-css-vars + offcanvas-backdrop
  scss/_offcanvas.scss
  site/content/docs/5.2/components/offcanvas.md
Labels: v5, bootstrap-side, css, enhancement

#1268 feat(pagination): Add CSS vars for $pagination
  scss/_pagination.scss
Labels: v5, css, enhancement

#1279 feat(dropdowns): Add CSS vars for $dropdown
  .bundlewatch.config.json
  scss/_dropdown.scss
  site/content/docs/5.2/components/dropdowns.md
Labels: v5, css, enhancement

#1405 Embed Solaris icons in an icon font guide
  .cspell.json
  site/content/docs/5.2/extend/icons.md
  site/static/docs/5.2/assets/img/icomoon-download-font.png
  site/static/docs/5.2/assets/img/icomoon-generate-font.png
  site/static/docs/5.2/assets/img/icomoon-import-icons.png
  site/static/docs/5.2/assets/img/icomoon-manage-projects.png
  site/static/docs/5.2/assets/img/icomoon-new-project.png
  site/static/docs/5.2/assets/img/icomoon-preferences.png
  site/static/docs/5.2/assets/img/icomoon-select-icons.png
Labels: v5, docs

#1406 Added in v5.2.0 label for all new features
  site/content/docs/5.2/components/accordion.md
  site/content/docs/5.2/components/alerts.md
  site/content/docs/5.2/components/buttons.md
  site/content/docs/5.2/components/carousel.md
  site/content/docs/5.2/components/footer.md
  site/content/docs/5.2/components/navs-tabs.md
  site/content/docs/5.2/components/offcanvas.md
  site/content/docs/5.2/components/orange-navbar.md
  site/content/docs/5.2/components/spinners.md
  site/content/docs/5.2/components/sticker.md
  site/content/docs/5.2/components/title-bars.md
  site/content/docs/5.2/forms/checks-radios.md
  site/content/docs/5.2/forms/quantity-selector.md
  site/content/docs/5.2/utilities/text.md
Labels: v5, docs

#1239 Footer css var
  .bundlewatch.config.json
  scss/_footer.scss
  scss/_nav.scss
  scss/_navbar.scss
  scss/_variables.scss
  site/content/docs/5.2/components/footer.md
  site/content/docs/5.2/components/orange-navbar.md
  site/layouts/shortcodes/orange-footer.html
  site/layouts/shortcodes/orange-global-headers.html
  site/layouts/shortcodes/orange-supra.html
Labels: v5, css, enhancement

#1421 chore/merge-main@44c9c8d
  .github/CONTRIBUTING.md
  .github/SUPPORT.md
  README.md
  config.yml
  package-lock.json
  package.json
  scss/_pagination.scss
  scss/mixins/_banner.scss
  site/content/docs/5.2/about/overview.md
  site/content/docs/5.2/about/team.md
  site/content/docs/5.2/components/offcanvas.md
  site/content/docs/5.2/components/toasts.md
  site/content/docs/5.2/components/tooltips.md
  site/content/docs/5.2/examples/_index.md
  site/content/docs/5.2/examples/features/index.html
  site/content/docs/5.2/extend/approach.md
  site/content/docs/5.2/getting-started/best-practices.md
  site/content/docs/5.2/getting-started/introduction.md
  site/content/docs/5.2/getting-started/parcel.md
  site/content/docs/5.2/getting-started/rtl.md
  site/content/docs/5.2/getting-started/vite.md
  site/content/docs/5.2/getting-started/webpack.md
  site/content/docs/5.2/utilities/borders.md
  site/layouts/partials/header.html
  site/layouts/partials/social.html
Labels: v5, merge

#1417 List group: Trim unused CSS var
  scss/_list-group.scss
  scss/_variables.scss
Labels: v5, css

#1416 Pagination: Adding missing CSS var
  scss/_pagination.scss
Labels: v5, fix, css
