Repository Orange-OpenSource/Orange-Boosted-Bootstrap, pull requests merged in 2022-11, with the labels that each got.

#1582 chore/merge-main@9edfed8
  .eslintignore
  build/.eslintrc.json
  build/build-plugins.js
  build/change-version.js
  build/generate-sri.js
  build/rollup.config.js
  build/vnu-jar.js
  build/zip-examples.js
  js/src/carousel.js
  js/src/dropdown.js
  js/src/modal.js
  js/src/tab.js
  js/src/toast.js
  js/src/tooltip.js
  js/tests/karma.conf.js
  js/tests/unit/dropdown.spec.js
  js/tests/unit/modal.spec.js
  js/tests/unit/tab.spec.js
  js/tests/visual/.eslintrc.json
  js/tests/visual/carousel.html
  js/tests/visual/modal.html
  js/tests/visual/popover.html
  js/tests/visual/toast.html
  js/tests/visual/tooltip.html
  nuget/MyGet.ps1
  nuget/boosted.nuspec
  nuget/boosted.sass.nuspec
  package-lock.json
  package.json
  scss/_buttons.scss
  scss/_toasts.scss
  scss/_variables.scss
  scss/mixins/_table-variants.scss
  scss/orange-helvetica.scss
  site/.eslintrc.json
  site/content/docs/5.2/components/modal.md
  site/content/docs/5.2/components/navbar.md
  site/content/docs/5.2/components/popovers.md
  site/content/docs/5.2/components/scrollspy.md
  site/content/docs/5.2/components/tooltips.md
  site/content/docs/5.2/customize/color.md
  site/content/docs/5.2/getting-started/vite.md
  site/content/docs/5.2/getting-started/webpack.md
  site/content/docs/5.2/layout/containers.md
  site/content/docs/5.2/migration.md
  site/layouts/_default/docs.html
  site/layouts/partials/home/masthead-followup.html
  site/static/docs/5.2/assets/img/parcel.png
  site/static/docs/5.2/assets/img/vite.png
  site/static/docs/5.2/assets/img/vite.svg
  site/static/docs/5.2/assets/img/webpack.png
  site/static/docs/5.2/assets/img/webpack.svg
Labels: v5, merge

#1596 Footer: make footer stick to bottom on small pages
  site/assets/scss/_footer.scss
Labels: v5, docs, fix

#1446 Links: fix hover state on dark background
  scss/mixins/_background-variant.scss
Labels: v4, fix, css

#1390 chore(deps): bump tarteaucitronjs from 1.8.4 to 1.9.9
  package-lock.json
  package.json
Labels: v5, dependencies, chore

#1589 fix(footer): change `.footer-terms` default font size
  scss/_navbar.scss
Labels: v5, fix, css

#1604 CSS: Fix compilation issue when `$enable-rounded: true`
  scss/_carousel.scss
Labels: v5, fix, css

#1603 Docs: add cards RTL example
  site/content/docs/5.2/examples/_index.md
  site/content/docs/5.2/examples/cards-rtl/index.html
  site/content/docs/5.2/getting-started/rtl.md
  site/content/docs/5.2/migration.md
  site/data/examples.yml
  site/static/docs/5.2/assets/img/examples/cards-rtl.png
  site/static/docs/5.2/assets/img/examples/cards-rtl@2x.png
Labels: v5, feature, examples, RTL

#1447 Buttons: fix `letter-spacing`
  scss/_buttons.scss
  scss/_variables.scss
  scss/mixins/_buttons.scss
  site/content/docs/5.2/migration.md
Labels: v5, brand, fix, css

#1609 Fix var prefix
  scss/mixins/_utilities.scss
Labels: bug, v5, docs

#1610 Customize/colors : Move Orange's colors paragraph and add warning
  site/content/docs/5.2/customize/color.md
Labels: v5, docs, fix

#1612 fix(forms): switch rendering on some platforms
  scss/forms/_form-check.scss
Labels: v5, fix, css

#1613 fix(docs): typo in Spanish
  .cspell.json
  site/content/docs/5.2/components/orange-navbar.md
  site/layouts/shortcodes/orange-global-headers.html
  site/layouts/shortcodes/orange-supra.html
Labels: v5, docs, fix

#565 Add Storybook to the project
  .eslintignore
  .gitignore
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview-head.html
  .storybook/preview.js
  .storybook/storybook.scss
  config.yml
  package-lock.json
  package.json
  stories/.eslintrc.json
  stories/create-stories-from-doc.js
Labels: v5, brand, dependencies, chore, docs

#1625 Fix vertical alignment of dropdown in navbar
  site/content/docs/5.2/components/dropdowns.md
Labels: v5, docs

#1630 fix(docs): uniformize `alt` value for Orange logos
  site/content/docs/5.2/components/navbar.md
  site/content/docs/5.2/components/scrollspy.md
  site/layouts/partials/docs-navbar.html
Labels: v5, docs, fix

#1443 `.form-label`: fix to be more consistent with the design
  scss/_variables.scss
Labels: v5, brand, fix, css

#1632 fix(range): realign input range thumb margin on Webkit
  scss/forms/_form-range.scss
Labels: v5, fix, css

#1634 Changing the link to Solaris icons
  config.yml
  site/content/docs/5.2/extend/icons.md
Labels: v5, docs

#1635 Docs: Remove unused `logo-rule-*` files
  NOTICE.txt
  site/static/docs/5.2/assets/brand/logo-rule-3a.png
  site/static/docs/5.2/assets/brand/logo-rule-4b.png
Labels: v5, docs

#1637 Docs: remove unused icons in `site/layouts/partials/icons**`
  NOTICE.txt
  site/layouts/partials/icons.html
  site/layouts/partials/icons/collapse.svg
  site/layouts/partials/icons/expand.svg
  site/layouts/partials/icons/import.svg
  site/layouts/partials/icons/list.svg
  site/layouts/partials/icons/menu.svg
  site/layouts/partials/icons/orange-logo.svg
Labels: v5, docs

#1638 Change Invalid feedback line-height (with small-font-size)
  scss/_variables.scss
  scss/mixins/_forms.scss
  site/content/docs/5.2/migration.md
Labels: v5, fix, css

#1639 Docs: limit legal usage of our images
  NOTICE.txt
  site/static/docs/5.2/assets/img/orange-logo.svg
Labels: v5, docs

#1065 Doc: precise how to use logos in Boosted
  NOTICE.txt
  img/orange-logo.svg
  package.json
  site/content/docs/5.2/about/brand.md
  site/layouts/shortcodes/svg-docs.html
  site/static/docs/5.2/assets/brand/OBS-logo-formatted.svg
  site/static/docs/5.2/assets/brand/OBS-logo.svg
  site/static/docs/5.2/assets/brand/orange-logo-formatted.svg
Labels: brand, docs, enhancement

#1660 fix(storybook): generate SB website in `_site` intead of `site`
  .eslintignore
  .gitignore
  package.json
Labels: v5, fix, build

#1657 fix(docs): add aliases for examples
  site/content/docs/5.2/examples/cards-rtl/index.html
  site/content/docs/5.2/examples/cards/index.html
  site/content/docs/5.2/examples/footers/index.html
  site/content/docs/5.2/examples/grid/index.html
  site/content/docs/5.2/examples/masonry/index.html
  site/content/docs/5.2/examples/navbar-sticky/index.html
  site/content/docs/5.2/examples/navbars/index.html
  site/content/docs/5.2/examples/stickers/index.html
  site/content/docs/5.2/examples/tags/index.html
  site/content/docs/5.2/examples/title-bars/index.html
Labels: v5, examples, fix

#1659 chore(merge): cherry-picked commits in Bootstrap v5.2.3
  .bundlewatch.config.json
  js/src/tooltip.js
  scss/_carousel.scss
  scss/_functions.scss
  scss/boosted-utilities.scss
  site/content/docs/5.2/migration.md
Labels: v5, merge

#1664 Navbar scrolling: fix missing logo
  site/content/docs/5.2/components/navbar.md
Labels: v5, accessibility, docs, fix

#1661 Fix content margin at the bottom of scrollable modal
  scss/_modal.scss
Labels: v5, fix, css

#983 Enhance GitHub workflows (handle Dependabot, etc.)
  .github/workflows/browserstack.yml
  .github/workflows/bundlewatch.yml
  .github/workflows/calibreapp-image-actions.yml
  .github/workflows/cspell.yml
  .github/workflows/css.yml
  .github/workflows/docs.yml
  .github/workflows/js.yml
  .github/workflows/lint.yml
  .github/workflows/node-sass.yml
  .github/workflows/notify.yml
  .github/workflows/optimize.yml
  .github/workflows/pa11y.yml
  .github/workflows/percy.yml
Labels: v5, github_actions, enhancement

#1662 Fix missing attribute in global header standard example
  site/content/docs/5.2/components/orange-navbar.md
Labels: v5, docs, fix, awaiting-reply

#1665 Script: Removing an issue on certain windows config running `docs-accessibility`.
  build/.pa11yci.json
Labels: v5, accessibility, fix, build

#1663 Stepped process: convert current step to plain text for better accessibility
  scss/_stepped-process.scss
  site/content/docs/5.2/components/stepped-process.md
  site/content/docs/5.2/migration.md
Labels: v5, accessibility, docs, fix, OK accessibility, OK design
