Repository Orange-OpenSource/Orange-Boosted-Bootstrap, pull requests merged in 2022-09, with the labels that each got.

#1507 chore/merge-main@3ad8551
  package-lock.json
  package.json
  scss/_accordion.scss
  scss/_buttons.scss
  scss/_dropdown.scss
  scss/_navbar.scss
  scss/_offcanvas.scss
  scss/_toasts.scss
  scss/_variables.scss
  scss/forms/_input-group.scss
  scss/mixins/_forms.scss
  site/assets/scss/_component-examples.scss
  site/assets/scss/_search.scss
  site/content/docs/5.2/components/accordion.md
  site/content/docs/5.2/components/buttons.md
  site/content/docs/5.2/components/card.md
  site/content/docs/5.2/components/close-button.md
  site/content/docs/5.2/components/collapse.md
  site/content/docs/5.2/components/dropdowns.md
  site/content/docs/5.2/components/navbar.md
  site/content/docs/5.2/components/offcanvas.md
  site/content/docs/5.2/components/scrollspy.md
  site/content/docs/5.2/components/stepped-process.md
  site/content/docs/5.2/components/tooltips.md
  site/content/docs/5.2/examples/cheatsheet-rtl/index.html
  site/content/docs/5.2/examples/cheatsheet/index.html
  site/content/docs/5.2/examples/starter-template/index.html
  site/content/docs/5.2/forms/checks-radios.md
Labels: v5, chore, merge

#1510 chore/merge-main@337068f
  .bundlewatch.config.json
  .cspell.json
  config.yml
  js/src/dropdown.js
  js/tests/unit/dropdown.spec.js
  package-lock.json
  package.json
  scss/_accordion.scss
  site/content/docs/5.2/components/dropdowns.md
  site/content/docs/5.2/components/toasts.md
  site/content/docs/5.2/customize/overview.md
  site/content/docs/5.2/getting-started/browsers-devices.md
  site/content/docs/5.2/getting-started/contents.md
  site/content/docs/5.2/getting-started/contribute.md
  site/content/docs/5.2/getting-started/download.md
  site/content/docs/5.2/getting-started/introduction.md
  site/content/docs/5.2/getting-started/javascript.md
  site/content/docs/5.2/getting-started/webpack.md
  site/content/docs/5.2/layout/breakpoints.md
  site/content/docs/5.2/layout/gutters.md
Labels: v5, merge

#1488 Docs: Change api responsive values
  site/content/docs/5.2/utilities/api.md
Labels: v5, docs

#1513 chore/merge-main@2504b89
  package-lock.json
  package.json
  scss/_accordion.scss
  scss/_buttons.scss
  scss/_list-group.scss
  scss/_nav.scss
  scss/_navbar.scss
  scss/_offcanvas.scss
  scss/_popover.scss
  scss/_toasts.scss
  site/assets/scss/_component-examples.scss
  site/content/docs/5.2/components/list-group.md
  site/content/docs/5.2/components/navs-tabs.md
Labels: v5, merge

#1520 Back to top: remove not branded variant
  scss/_back-to-top.scss
  site/content/docs/5.2/components/back-to-top.md
Labels: v5, brand, docs, css

#1521 chore/merge-main@8-sept
  .bundlewatch.config.json
  js/src/modal.js
  js/src/tooltip.js
  js/tests/unit/modal.spec.js
  package-lock.json
  scss/_accordion.scss
  scss/_button-group.scss
  scss/_variables.scss
Labels: v5, merge

#1524 fix(css): add workaround for postcss value parser error
  scss/_navbar.scss
Labels: v5, fix, css, build

#1525 List-group: Add dark variant
  scss/_list-group.scss
  scss/_variables.scss
  site/content/docs/5.2/components/list-group.md
Labels: v5, brand, css

#1007 Add a PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore, meta

#1530 chore(workflows): replace percy/snapshot-action by Percy CLI
  .github/workflows/percy.yml
  package-lock.json
  package.json
Labels: v5, chore, github_actions

#1506 Mark: make `.mark` branded
  scss/_reboot.scss
  scss/_root.scss
  scss/_variables.scss
  site/assets/scss/_search.scss
Labels: v5, brand, accessibility, css

#1498 Docs: Navbar minor fixes
  scss/_navbar.scss
  scss/_variables.scss
  site/content/docs/5.2/components/navbar.md
Labels: v5, brand, docs, css

#1490 Docs: Toasts alignment fix
  site/content/docs/5.2/components/toasts.md
Labels: v5, docs
