Repository Orange-OpenSource/Orange-Boosted-Bootstrap, pull requests merged in 2023-09, with the labels that each got.

#2216 fix(docs): add missing `/examples/download-app` redirection
  site/content/docs/5.3/examples/download-app/index.html
Labels: v5, docs, fix

#2184 Star rating: Refactoring + rebranding.
  .bundlewatch.config.json
  scss/_mixins.scss
  scss/_variables.scss
  scss/forms/_star-rating.scss
  scss/mixins/_star-rating.scss
  site/content/docs/5.3/forms/checks-radios.md
  site/content/docs/5.3/migration.md
Labels: v5, css, enhancement, passed a11y review, passed design review, color mode

#2222 [Doc] Add disabled label to disabled file input
  site/content/docs/5.3/forms/form-control.md
Labels: v5, docs, fix

#2226 fix(docs): add `/docs/customize/color-modes` redirection
  site/content/docs/5.3/customize/color-modes.md
Labels: v5, docs, fix

#2236 chore(deps-dev): bump Storybook from 7.4.0 to 7.4.1
  package-lock.json
  package.json
Labels: v5, dependencies, chore

#2228 chore: update Boosted core team information
  .cspell.json
  README.md
  composer.json
  site/content/docs/5.3/about/team.md
  site/data/core-team.yml
Labels: v5, chore, docs

#2238 Chore merge from d07d3a6 to 8816177
  .github/SUPPORT.md
  .github/workflows/browserstack.yml
  .github/workflows/bundlewatch.yml
  .github/workflows/calibreapp-image-actions.yml
  .github/workflows/cspell.yml
  .github/workflows/css.yml
  .github/workflows/docs.yml
  .github/workflows/js.yml
  .github/workflows/lint.yml
  .github/workflows/node-sass.yml
  .github/workflows/pa11y.yml
  .github/workflows/percy.yml
  js/src/dom/selector-engine.js
  js/tests/unit/dom/selector-engine.spec.js
  package-lock.json
  package.json
  scss/_reboot.scss
  scss/_root.scss
  scss/_variables-dark.scss
  scss/_variables.scss
  scss/forms/_form-check.scss
  scss/mixins/_grid.scss
  site/content/docs/5.3/getting-started/download.md
  site/content/docs/5.3/getting-started/introduction.md
  site/content/docs/5.3/migration.md
Labels: v5, chore, merge

#2244 Chore merge from 256ad91 to 317cb2a
  .cspell.json
  site/content/docs/5.3/getting-started/download.md
  site/layouts/_default/examples.html
Labels: chore, merge

#2250 docs: reintroduce dark mode
  site/content/docs/5.3/customize/color-modes.md
  site/content/docs/5.3/examples/download-app/download-app.css
  site/content/docs/5.3/migration.md
  site/layouts/_default/baseof.html
  site/layouts/_default/examples.html
  site/layouts/partials/docs-navbar.html
  site/layouts/partials/header.html
Labels: v5, docs, color mode

#2240 Alerts: Change warning icon
  .bundlewatch.config.json
  scss/_alert.scss
  scss/_variables.scss
  scss/mixins/_alert.scss
  site/static/docs/5.3/assets/img/boosted-sprite.svg
Labels: v5, brand, css

#2256 chore(deps-dev): bump Storybook from 7.4.1 to 7.4.2
  package-lock.json
  package.json
Labels: v5, dependencies

#2239 Improvement of toggle buttons borders
  scss/forms/_form-check.scss
Labels: v5, fix

#2227 Dark mode: Add `$theme-colors-dark` and `$theme-colors-rgb-dark`
  .bundlewatch.config.json
  scss/_maps.scss
  scss/_root.scss
  scss/_variables-dark.scss
  scss/_variables.scss
  scss/tests/mixins/_color-modes.test.scss
  site/content/docs/5.3/customize/color-modes.md
  site/content/docs/5.3/customize/color.md
  site/content/docs/5.3/dark-mode.md
  site/content/docs/5.3/utilities/background.md
  site/content/docs/5.3/utilities/colors.md
  site/data/palette.yml
  site/data/theme-colors.yml
Labels: v5, css, color mode

#2260 chore(deps-dev): bump Storybook from 7.4.2 to 7.4.3
  package-lock.json
  package.json
Labels: dependencies

#2263 fix(dark variant): some text colors were light gray instead of white
  scss/_variables-dark.scss
Labels: v5, fix, css

#2258 Dark Mode: Update syntax file dark
  site/assets/scss/_syntax.scss
Labels: v5, brand, feature, color mode

#2264 chore(deps-dev): bump Storybook from 7.4.3 to 7.4.5
  package-lock.json
  package.json
Labels: dependencies

#2261 Fix images on auto in download app example page
  site/content/docs/5.3/examples/download-app/download-app.css
Labels: v5, examples, fix, color mode

#2259 Dark mode: accordions
  scss/_accordion.scss
  scss/_root.scss
  scss/_variables.scss
  site/content/docs/5.3/components/accordion.md
Labels: v5, docs, css, color mode
