Repository Orange-OpenSource/Orange-Boosted-Bootstrap, pull requests merged in 2023-08, with the labels that each got.

#2198 chore(deps-dev): bump Storybook from 7.1.1 to 7.3.2
  package-lock.json
  package.json
Labels: v5, dependencies

#2196 Remove unnecessary stuff in boosted-*.scss files
  .bundlewatch.config.json
  scss/boosted-grid.scss
  scss/boosted-utilities.scss
  scss/mixins/_utilities.scss
Labels: v5, fix, css

#2203 Carousel: Fix for custom carousel item interval
  scss/_variables.scss
Labels: v5, fix, css

#2114 Add required form information in `.visually-hidden` span
  site/content/docs/5.3/examples/form/index.html
  site/content/docs/5.3/forms/overview.md
  site/content/docs/5.3/forms/validation.md
  site/content/docs/5.3/migration.md
Labels: v5, accessibility, docs, fix, passed a11y review

#2204 Carousel: Add a class on non-cycling carousels
  js/src/carousel.js
  js/tests/unit/carousel.spec.js
Labels: v5, js, fix

#1929 Change icons in Boosted-sprite with real Solaris icons
  site/content/docs/5.3/components/tooltips.md
  site/layouts/shortcodes/orange-footer.html
  site/static/docs/5.3/assets/img/boosted-sprite.svg
Labels: v5, docs

#2093 Workflows: Add automation for github project to pass a ready for review PR directly in good column
  .github/workflows/update-pr-ready-review.yml
Labels: v5, skip-changelog, github_actions

#2101 Workflows: Add automation for github project to pass a PR being reviewed directly in good column
  .github/workflows/update-pr-review-in-progress.yml
Labels: v5, skip-changelog, github_actions

#2092 Workflows: Add automation for github project to pass an approved PR directly in good column
  .github/workflows/update-pr-approved.yml
Labels: v5, skip-changelog, github_actions

#2100 Workflows: Add automation for github project to pass an approved by design and/or a11y to lead dev review
  .github/workflows/update-pr-design-a11y-approved.yml
Labels: v5, skip-changelog, github_actions

#2205 chore(workflows): drop skip:ci and skip:pa11y
  .github/workflows/browserstack.yml
  .github/workflows/bundlewatch.yml
  .github/workflows/cspell.yml
  .github/workflows/css.yml
  .github/workflows/docs.yml
  .github/workflows/js.yml
  .github/workflows/lint.yml
  .github/workflows/node-sass.yml
  .github/workflows/pa11y.yml
Labels: github_actions, enhancement

#2212 chore(deps): bump Storybook dependencies
  package-lock.json
  package.json
Labels: dependencies, chore

#2213 Workflow: fix issue on comment
  .github/workflows/update-pr-review-in-progress.yml
Labels: skip-changelog, fix, github_actions

#1468 Local navigation: Add component
  .bundlewatch.config.json
  .cspell.json
  scss/_local-navigation.scss
  scss/_navbar.scss
  scss/_variables.scss
  scss/boosted.scss
  site/content/docs/5.3/about/overview.md
  site/content/docs/5.3/components/local-navigation.md
  site/content/docs/5.3/components/navs-tabs.md
  site/content/docs/5.3/migration.md
  site/data/sidebar.yml
Labels: v5, brand, component, css, passed a11y review, passed design review

#2214 Workflow: fix approved workflow by adding conditions
  .github/workflows/update-pr-approved.yml
Labels: skip-changelog, fix, github_actions
