Repository Orange-OpenSource/Orange-Boosted-Bootstrap, pull requests merged in 2023-07, with the labels that each got.

#2053 Font: Fix to have correct fonts
  scss/_reboot.scss
  scss/_type.scss
  site/assets/scss/_component-examples.scss
  site/content/docs/5.3/components/sticker.md
  site/content/docs/5.3/content/typography.md
  site/content/docs/5.3/examples/stickers/index.html
  site/content/docs/5.3/examples/stickers/stickers.css
  site/content/docs/5.3/migration.md
Labels: v5, fix, passed a11y review, passed design review, spec review

#1948 Increase 1px margin for form messages to conform to design
  scss/_variables.scss
Labels: v5, fix, css, passed design review

#2112 fix(docs): Solaris icons URL
  hugo.yml
Labels: v5, docs

#2022 Docs: Update footer in order to use the ic_Mobile_Network_Coverage icon
  site/content/docs/5.3/migration.md
  site/static/docs/5.3/assets/img/boosted-sprite.svg
Labels: bug, v5, docs, passed design review

#1778 Add TikTok icon in social buttons
  .bundlewatch.config.json
  .cspell.json
  scss/_variables.scss
  site/content/docs/5.3/components/buttons.md
  site/content/docs/5.3/components/footer.md
  site/content/docs/5.3/migration.md
  site/layouts/shortcodes/orange-footer.html
Labels: v5, fix, passed design review

#2126 fix(docs): update broken DSM links
  site/content/docs/5.3/components/progress.md
  site/data/design-guidelines.yml
Labels: v5, docs, fix

#2002 Forms>Validation : Add a link to "Terms and conditions" checkboxes
  site/content/docs/5.3/forms/validation.md
Labels: v5, docs, passed a11y review, passed design review

#2127 feat(utilities): add `.border-4` and `.border-5`
  scss/_variables.scss
  site/content/docs/5.3/utilities/borders.md
Labels: v5, feature, utilities

#1489 Close button: adding missing variants without new class
  site/content/docs/5.3/components/close-button.md
  site/content/docs/5.3/migration.md
Labels: v5, brand, docs, passed design review

#2129 SCSS: remove `$boosted-prefix` in favor of `$prefix`
  js/src/carousel.js
  js/tests/unit/carousel.spec.js
  scss/_alert.scss
  scss/_buttons.scss
  scss/_carousel.scss
  scss/_root.scss
  scss/_tags.scss
  scss/_toasts.scss
  scss/_variables.scss
  scss/forms/_form-check.scss
  scss/helpers/_chevron-link.scss
  scss/mixins/_buttons.scss
  site/content/docs/5.3/components/carousel.md
  site/content/docs/5.3/customize/css-variables.md
  site/content/docs/5.3/migration.md
Labels: v5, breaking-change, css

#2030 Reintroduce all text color utilities
  .bundlewatch.config.json
  scss/_alert.scss
  scss/_buttons.scss
  scss/_footer.scss
  scss/_maps.scss
  scss/_navbar.scss
  scss/_root.scss
  scss/_tags.scss
  scss/_variables-dark.scss
  scss/_variables.scss
  scss/helpers/_colored-links.scss
  scss/mixins/_utilities.scss
  site/assets/scss/_content.scss
  site/content/docs/5.3/components/card.md
  site/content/docs/5.3/components/navbar.md
  site/content/docs/5.3/components/progress.md
  site/content/docs/5.3/components/spinners.md
  site/content/docs/5.3/content/reboot.md
  site/content/docs/5.3/customize/color.md
  site/content/docs/5.3/helpers/colored-links.md
  site/content/docs/5.3/migration.md
  site/content/docs/5.3/utilities/background.md
  site/content/docs/5.3/utilities/colors.md
  site/content/docs/5.3/utilities/link.md
  site/data/theme-colors.yml
Labels: v5, feature, docs, utilities, passed design review

#2034 Docs: Add real thumbnail img
  site/content/docs/5.3/content/tables.md
  site/static/docs/5.3/assets/img/thumbnail.png
Labels: docs, fix, passed design review

#2146 Examples: Add download app example
  NOTICE.txt
  site/content/docs/5.3/examples/download-app/download-app.css
  site/content/docs/5.3/examples/download-app/download-app.js
  site/content/docs/5.3/examples/download-app/img/Banner_image.png
  site/content/docs/5.3/examples/download-app/img/Buttons.png
  site/content/docs/5.3/examples/download-app/img/Buttons_dark.png
  site/content/docs/5.3/examples/download-app/img/Card.png
  site/content/docs/5.3/examples/download-app/img/Card_dark.png
  site/content/docs/5.3/examples/download-app/img/Components.png
  site/content/docs/5.3/examples/download-app/img/Components_dark.png
  site/content/docs/5.3/examples/download-app/img/Emphasis.png
  site/content/docs/5.3/examples/download-app/img/Emphasis_dark.png
  site/content/docs/5.3/examples/download-app/img/Input.png
  site/content/docs/5.3/examples/download-app/img/Input_dark.png
  site/content/docs/5.3/examples/download-app/img/List.png
  site/content/docs/5.3/examples/download-app/img/List_dark.png
  site/content/docs/5.3/examples/download-app/index.html
  site/content/docs/5.3/migration.md
  site/data/examples.yml
  site/static/docs/5.3/assets/img/examples/download-app.png
  site/static/docs/5.3/assets/img/examples/download-app/app-store-badge.svg
  site/static/docs/5.3/assets/img/examples/download-app/google-play-badge.svg
  site/static/docs/5.3/assets/img/examples/download-app@2x.png
Labels: v5, examples, passed a11y review, passed design review

#2150 Banner for newer version of Boosted
  site/assets/scss/_sidebar.scss
  site/assets/scss/_variables.scss
  site/layouts/partials/docs-navbar.html
Labels: v5, docs

#2044 feat: hide unimplemented dark mode for v5.3.0
  site/content/docs/5.3/customize/color-modes.md
  site/content/docs/5.3/examples/download-app/index.html
  site/content/docs/5.3/migration.md
  site/layouts/_default/baseof.html
  site/layouts/_default/examples.html
  site/layouts/partials/docs-navbar.html
  site/layouts/partials/header.html
Labels: v5, feature

#2154 chore(template): change last release step in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore

#2103 Bump StoryBook to ^7.0.26
  .eslintrc.json
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
Labels: v5, dependencies, skip-changelog

#2130 Storybook: enhance story making
  .github/PULL_REQUEST_TEMPLATE.md
  .storybook/preview-head.html
  site/assets/js/snippets.js
  stories/create-stories-from-doc.js
Labels: v5, skip-changelog

#2159 Chore merge from c5f46b0 to 6d24ccc
  .bundlewatch.config.json
  .github/CONTRIBUTING.md
  package-lock.json
  package.json
  scss/_variables.scss
  site/assets/js/code-examples.js
  site/assets/scss/_component-examples.scss
  site/assets/scss/_variables.scss
  site/content/docs/5.3/components/collapse.md
  site/content/docs/5.3/components/navs-tabs.md
  site/content/docs/5.3/components/spinners.md
  site/content/docs/5.3/components/tooltips.md
  site/content/docs/5.3/customize/sass.md
  site/content/docs/5.3/examples/form/index.html
  site/content/docs/5.3/examples/stickers/index.html
  site/content/docs/5.3/forms/form-control.md
  site/content/docs/5.3/forms/select.md
  site/content/docs/5.3/getting-started/javascript.md
  site/content/docs/5.3/migration.md
  site/content/docs/5.3/utilities/float.md
  site/content/docs/5.3/utilities/spacing.md
  site/layouts/partials/callouts/warning-color-assistive-technologies.md
  site/layouts/partials/home/get-started.html
  site/layouts/partials/icons.html
Labels: chore, merge

#2160 chore(deps-dev): bump Storybook deps to 7.1.0
  package-lock.json
  package.json
Labels: dependencies, chore

#2161 Footer: Fix to enable storybook on all examples
  site/content/docs/5.3/components/footer.md
Labels: v5, docs

#2158 docs: reintroduce dark mode
  site/content/docs/5.3/customize/color-modes.md
  site/content/docs/5.3/migration.md
  site/layouts/_default/baseof.html
  site/layouts/_default/examples.html
  site/layouts/partials/docs-navbar.html
  site/layouts/partials/header.html
Labels: v5, docs

#2162 Chore merge from d8883d7 to 8e5dada
  .bundlewatch.config.json
  build/.pa11yci.json
  build/zip-examples.js
  hugo.yml
  js/src/tab.js
  js/tests/unit/tab.spec.js
  js/tests/visual/tab.html
  package-lock.json
  package.json
  scss/_nav.scss
  scss/_reboot.scss
  scss/_variables-dark.scss
  scss/_variables.scss
  scss/forms/_form-check.scss
  scss/forms/_form-control.scss
  scss/forms/_form-range.scss
  scss/forms/_form-select.scss
  scss/helpers/_color-bg.scss
  scss/helpers/_vr.scss
  site/content/docs/5.3/components/button-group.md
  site/content/docs/5.3/components/buttons.md
  site/content/docs/5.3/components/card.md
  site/content/docs/5.3/components/dropdowns.md
  site/content/docs/5.3/components/list-group.md
  site/content/docs/5.3/components/navbar.md
  site/content/docs/5.3/components/navs-tabs.md
  site/content/docs/5.3/components/placeholders.md
  site/content/docs/5.3/components/tooltips.md
  site/content/docs/5.3/customize/sass.md
  site/content/docs/5.3/getting-started/webpack.md
  site/content/docs/5.3/helpers/stacks.md
  site/content/docs/5.3/helpers/vertical-rule.md
  site/content/docs/5.3/migration.md
  site/content/docs/5.3/utilities/float.md
  site/content/docs/5.3/utilities/opacity.md
  site/content/docs/5.3/utilities/text.md
  site/data/docs-versions.yml
  site/layouts/partials/docs-navbar.html
  site/layouts/partials/footer.html
  site/layouts/partials/header.html
  site/layouts/partials/home/masthead.html
  site/layouts/partials/scripts.html
  site/layouts/partials/stylesheet.html
  site/layouts/shortcodes/js-docs.html
  site/layouts/shortcodes/scss-docs.html
Labels: chore, merge

#2169 chore(deps-dev): bump Storybook from 7.1.0 to 7.1.1
  package-lock.json
  package.json
Labels: dependencies, chore

#2170 docs: deactivate dark mode for release v5.3.1
  site/content/docs/5.3/customize/color-modes.md
  site/content/docs/5.3/migration.md
  site/layouts/_default/baseof.html
  site/layouts/_default/examples.html
  site/layouts/partials/docs-navbar.html
  site/layouts/partials/header.html
Labels: v5, docs

#2175 docs: reintroduce dark mode
  site/content/docs/5.3/customize/color-modes.md
  site/content/docs/5.3/migration.md
  site/layouts/_default/baseof.html
  site/layouts/_default/examples.html
  site/layouts/partials/docs-navbar.html
  site/layouts/partials/header.html
Labels: v5, docs

#1830 Orange navbar: change minimizing behavior
  js/src/orange-navbar.js
  js/tests/unit/orange-navbar.spec.js
  scss/_navbar.scss
  scss/_orange-navbar.scss
  site/assets/scss/_scrolling.scss
  site/content/docs/5.3/migration.md
Labels: v5, js, docs, css, enhancement

#2007 Docs > Component > Nav-tabs: change place of dropdown menu
  site/content/docs/5.3/components/navs-tabs.md
Labels: v5, docs, enhancement

#2089 YouTube: Change url to avoid cookies from YouTube.
  .cspell.json
  build/vnu-jar.js
  site/assets/js/tac.js
  site/content/docs/5.3/helpers/ratio.md
Labels: v5, docs

#2032 Docs > Content > Tables: Add design callout messages
  site/content/docs/5.3/content/tables.md
Labels: bug, v5, component, docs

#2090 Improve a11y of form error state v2
  .bundlewatch.config.json
  scss/_reboot.scss
  scss/mixins/_forms.scss
  site/content/docs/5.3/migration.md
Labels: v5, accessibility, css, passed a11y review, passed design review

#1792 Accordion component design updates (ui kit v5)
  scss/_accordion.scss
  scss/_footer.scss
  scss/_variables.scss
  site/content/docs/5.3/migration.md
Labels: v5, brand, passed a11y review, passed design review
