Repository Orange-OpenSource/Orange-Boosted-Bootstrap, pull requests merged in 2023-05, with the labels that each got.

#2024 Merge from 5400415 to ea4da49
  js/src/scrollspy.js
  js/src/util/sanitizer.js
  js/tests/unit/scrollspy.spec.js
  js/tests/unit/util/sanitizer.spec.js
  js/tests/visual/scrollspy.html
  package-lock.json
  package.json
  scss/_tables.scss
  scss/_variables.scss
  site/assets/js/application.js
  site/assets/scss/_colors.scss
  site/assets/scss/_component-examples.scss
  site/assets/scss/_masthead.scss
  site/content/docs/5.3/content/tables.md
  site/content/docs/5.3/docsref.md
  site/content/docs/5.3/examples/grid/index.html
  site/content/docs/5.3/migration.md
  site/layouts/_default/examples.html
  site/layouts/shortcodes/example.html
  site/layouts/shortcodes/js-docs.html
  site/layouts/shortcodes/scss-docs.html
Labels: v5, chore, merge

#1859 Add marker for active link in footer
  scss/_footer.scss
  site/content/docs/5.3/components/footer.md
  site/content/docs/5.3/examples/footers/index.html
  site/content/docs/5.3/examples/form/index.html
  site/content/docs/5.3/migration.md
  site/layouts/shortcodes/orange-footer.html
Labels: v5, accessibility, docs, passed a11y review, passed design review

#2017 Add active link markers in documentation
  site/layouts/partials/footer.html
Labels: v5, accessibility, docs, passed a11y review

#2042 fix(migration): use the name 'Footer' instead of 'Orange Footer'
  site/content/docs/5.3/migration.md
Labels: v5, docs

#2041 Merge from 7d97fdf to a6dc107
  .eslintrc.json
  .github/PULL_REQUEST_TEMPLATE.md
  build/generate-sri.js
  hugo.yml
  package-lock.json
  package.json
  scss/_navbar.scss
  site/content/docs/5.3/components/modal.md
  site/content/docs/5.3/components/navbar.md
  site/content/docs/5.3/content/tables.md
  site/content/docs/5.3/customize/color-modes.md
Labels: v5, chore, merge

#2043 chore: change `in_examples` param to `extra_social` of `orange-footer` shortcode
  site/content/docs/5.3/examples/footers/index.html
  site/layouts/shortcodes/orange-footer.html
Labels: v5, docs

#2045 fix(docs): replace some 'Bootstrap' occurences by 'Boosted' and drop a sentence
  site/content/docs/5.3/customize/color-modes.md
  site/content/docs/5.3/customize/color.md
  site/content/docs/5.3/customize/optimize.md
Labels: v5, docs

#2052 Merge Bootstrap commits from b7ce0b6 to de6b9a7
  package-lock.json
  package.json
Labels: v5, chore, merge

#2033 Docs: Add caption in captions' html examples
  site/content/docs/5.3/content/tables.md
Labels: docs, fix

#2054 Chore merge from f0be063c to 08dff5e
  hugo.yml
  package-lock.json
  package.json
  site/static/docs/5.3/assets/js/color-modes.js
Labels: v5, chore, merge
