Repository Orange-OpenSource/Orange-Boosted-Bootstrap, pull requests merged in 2023-10, with the labels that each got.

#2274 Merge from 9e5e22a to 4dd9bf0
  package-lock.json
  package.json
  scss/forms/_form-check.scss
  site/content/docs/5.3/helpers/stacks.md
Labels: v5, chore, merge

#2270 Dark mode: drop dark variants
  js/tests/visual/modal.html
  js/tests/visual/scrollspy.html
  scss/_accordion.scss
  scss/_breadcrumb.scss
  scss/_buttons.scss
  scss/_close.scss
  scss/_dropdown.scss
  scss/_list-group.scss
  scss/_local-navigation.scss
  scss/_navbar.scss
  scss/_pagination.scss
  scss/_root.scss
  scss/_stepped-process.scss
  scss/_tags.scss
  scss/_variables.scss
  scss/forms/_star-rating.scss
  scss/mixins/_buttons.scss
  site/assets/js/tac.js
  site/content/docs/5.3/components/accordion.md
  site/content/docs/5.3/components/alerts.md
  site/content/docs/5.3/components/breadcrumb.md
  site/content/docs/5.3/components/buttons.md
  site/content/docs/5.3/components/close-button.md
  site/content/docs/5.3/components/dropdowns.md
  site/content/docs/5.3/components/list-group.md
  site/content/docs/5.3/components/local-navigation.md
  site/content/docs/5.3/components/navbar.md
  site/content/docs/5.3/components/offcanvas.md
  site/content/docs/5.3/components/orange-navbar.md
  site/content/docs/5.3/components/pagination.md
  site/content/docs/5.3/components/stepped-process.md
  site/content/docs/5.3/components/tags.md
  site/content/docs/5.3/components/toasts.md
  site/content/docs/5.3/customize/css-variables.md
  site/content/docs/5.3/examples/download-app/index.html
  site/content/docs/5.3/examples/form/index.html
  site/content/docs/5.3/forms/checks-radios.md
  site/content/docs/5.3/migration.md
  site/layouts/partials/docs-navbar.html
  site/layouts/partials/docs-versions.html
  site/layouts/partials/footer.html
  site/layouts/shortcodes/callout-deprecated-dark-variants.html
  site/layouts/shortcodes/card.html
  site/layouts/shortcodes/orange-footer.html
  site/layouts/shortcodes/orange-global-headers.html
  site/layouts/shortcodes/orange-supra.html
Labels: color mode

#2273 Dark mode: Stepped process
  scss/_stepped-process.scss
  scss/_variables-dark.scss
  scss/_variables.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2275 Star rating dark mode
  scss/_variables.scss
  scss/forms/_star-rating.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2279 Dark mode: handle focus visible
  scss/_root.scss
  scss/_variables-dark.scss
  scss/_variables.scss
Labels: color mode

#2277 Dark mode: Form range
  scss/_variables.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2280 Dark mode: Form controls
  scss/_root.scss
  scss/_variables.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2278 Dark mode: form color
  scss/_root.scss
  scss/_variables-dark.scss
  scss/_variables.scss
  scss/forms/_form-control.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2289 Dark mode: Form labels & texts
  scss/_variables.scss
  scss/forms/_labels.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2288 Dark mode: Stickers
  scss/_sticker.scss
  scss/_variables.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2283 Dark mode: Tags
  scss/_tags.scss
  scss/_variables.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2291 Dark mode: Form helper
  scss/_variables.scss
  scss/forms/_labels.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2293 Dark mode: Buttons
  scss/_buttons.scss
  scss/_dropdown.scss
  scss/_variables.scss
  scss/mixins/_buttons.scss
  site/assets/scss/_tarteaucitron.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2294 fix(dropdown): add missing `instead of` in Boosted mods
  scss/_variables.scss
Labels: v5, css

#2292 Dark mode: Dropdowns
  scss/_variables.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2299 Dark mode: Input group
  scss/_variables.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2295 Dark mode: File input
  scss/_variables.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2305 Dark mode: Add solid bg under `.form-helper`
  scss/_variables.scss
  scss/forms/_labels.scss
Labels: color mode

#2306 fix(unit tests): drop `.btn-secondary` from carousel play/pause buttons
  js/tests/unit/carousel.spec.js
Labels: v5, fix

#2311 Merge from 323f9d6 to 72d6722
  package-lock.json
  package.json
  site/assets/scss/_component-examples.scss
  site/content/docs/5.3/components/popovers.md
Labels: v5, chore, merge

#2312 Workflows: Increase limit number of cards
  .github/workflows/update-pr-approved.yml
  .github/workflows/update-pr-design-a11y-approved.yml
  .github/workflows/update-pr-ready-review.yml
  .github/workflows/update-pr-review-in-progress.yml
Labels: v5, fix, github_actions

#2315 Dark mode: Breadcrumb
  scss/_breadcrumb.scss
  scss/_root.scss
  scss/_variables.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2319 chore(deps-dev): bump Storybook from 7.4.6 to 7.5.0
  package-lock.json
  package.json
Labels: v5, dependencies

#2310 Dark Mode: Storybook addon
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
Labels: color mode

#2335 chore(deps): bump Storybook dependencies
  package-lock.json
  package.json
Labels: v5, dependencies

#2336 Chore: merge from ce11411 to f7426c0
  js/tests/visual/modal.html
  site/content/docs/5.3/components/accordion.md
  site/content/docs/5.3/components/badge.md
  site/content/docs/5.3/components/list-group.md
  site/content/docs/5.3/components/orange-navbar.md
  site/content/docs/5.3/migration.md
  site/content/docs/5.3/utilities/position.md
  site/content/docs/5.3/utilities/text.md
  site/content/docs/versions.md
  site/layouts/shortcodes/orange-global-headers.html
  site/layouts/shortcodes/orange-supra.html
Labels: v5, chore, merge

#2307 Dark mode: Navs & tabs
  scss/_nav.scss
  scss/_variables-dark.scss
  scss/_variables.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2322 Dark mode: Modal
  scss/_variables.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2285 Dark mode: Form switch
  scss/_root.scss
  scss/_variables.scss
  scss/forms/_form-check.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2286 Dark mode: Form select
  scss/_root.scss
  scss/_variables-dark.scss
  scss/_variables.scss
  scss/forms/_form-select.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2287 Dark mode: Quantity selector
  scss/_variables.scss
  scss/forms/_quantity-selector.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2339 Dark mode: Tarteaucitron
  site/assets/js/tac.js
  site/assets/scss/_tarteaucitron.scss
Labels: color mode

#2341 fix(form-control-color): adjust size when valid feedback
  scss/mixins/_forms.scss
Labels: v5, fix

#2302 Dark mode: Form validation
  scss/_root.scss
  scss/_variables-dark.scss
  scss/_variables.scss
  scss/mixins/_forms.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2329 Dark mode: Back to top
  scss/_back-to-top.scss
  scss/_variables.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2325 Dark mode: Popovers
  scss/_variables.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2314 Dark mode: Pagination
  scss/_pagination.scss
  scss/_variables.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2316 Dark mode: Carousel
  scss/_carousel.scss
  scss/_variables.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode

#2318 Dark mode: Cards
  scss/_variables.scss
  site/content/docs/5.3/components/card.md
  site/content/docs/5.3/content/figures.md
  site/content/docs/5.3/content/images.md
  site/content/docs/5.3/dark-mode.md
  site/content/docs/5.3/examples/cards-rtl/index.html
  site/content/docs/5.3/examples/cards/index.html
  site/content/docs/5.3/examples/masonry/index.html
  site/content/docs/5.3/layout/columns.md
  site/content/docs/5.3/utilities/borders.md
  site/content/docs/5.3/utilities/object-fit.md
  site/layouts/shortcodes/card.html
  site/layouts/shortcodes/placeholder.html
Labels: color mode

#2346 chore(deps-dev): bump `tarteaucitronjs` from 1.14.0 to 1.15.0
  package-lock.json
  package.json
Labels: v5, dependencies

#2347 chore(deps-dev): bump Storybook from 7.5.1 to 7.5.2
  package-lock.json
  package.json
Labels: v5, dependencies

#1467 List group: Branded
  .bundlewatch.config.json
  scss/_list-group.scss
  scss/_maps.scss
  scss/_variables.scss
  site/content/docs/5.3/about/team.md
  site/content/docs/5.3/components/list-group.md
  site/content/docs/5.3/migration.md
Labels: v5, brand, css, passed a11y review, passed design review

#2348 Dark mode: Offcanvas
  scss/_variables.scss
  site/content/docs/5.3/dark-mode.md
Labels: color mode
