Repository Orange-OpenSource/Orange-Boosted-Bootstrap, pull requests merged in 2023-06, with the labels that each got.

#2061 chore(deps): bump tarteaucitronjs from 1.11.0 to 1.12.0
  package-lock.json
  package.json
Labels: v5, dependencies

#2066 Stickers example: fix id
  site/content/docs/5.3/examples/stickers/index.html
Labels: v5, examples, fix

#2004 Buttons: make `.btn-secondary` default state with transparent background
  scss/_buttons.scss
  site/content/docs/5.3/components/buttons.md
  site/content/docs/5.3/migration.md
Labels: v5, brand, css

#2074 Fix small issues on migration guide
  site/content/docs/5.3/migration.md
Labels: v5, docs

#2021 Docs: Add a callout about accessibility on tooltips hiding important content
  site/content/docs/5.3/components/tooltips.md
Labels: v5, accessibility, docs, upcoming a11y review

#2088 chore(deps): fix coverallsapp/github-action to v2
  .github/workflows/js.yml
Labels: dependencies, chore

#2081 Tarteaucitron: fix uri
  site/static/docs/5.3/assets/js/tarteaucitron.services.js
Labels: v5, dependencies, fix

#1823 Add a "Close" tooltip to close buttons
  site/assets/js/snippets.js
  site/content/docs/5.3/components/alerts.md
  site/content/docs/5.3/components/close-button.md
  site/content/docs/5.3/components/modal.md
  site/content/docs/5.3/components/navbar.md
  site/content/docs/5.3/components/offcanvas.md
  site/content/docs/5.3/components/toasts.md
  site/content/docs/5.3/getting-started/introduction.md
  site/content/docs/5.3/migration.md
  site/layouts/_default/docs.html
  site/layouts/shortcodes/enable-btn-close-tooltip.html
  site/layouts/shortcodes/js-dismiss.html
Labels: v5, brand, component, passed a11y review, passed design review

#2031 Fix custom popover padding
  scss/_popover.scss
  scss/_variables.scss
  site/assets/scss/_component-examples.scss
  site/content/docs/5.3/components/popovers.md
  site/content/docs/5.3/migration.md
Labels: v5, docs, fix, css
