Repository Orange-OpenSource/Orange-Boosted-Bootstrap, pull requests merged in 2023-04, with the labels that each got.

#1941 Merge from 3374ea5 to 032f2b1
  package-lock.json
  package.json
Labels: v5, chore, merge

#1935 fix(css): remove Stylelint multiline comments from built CSS files
  .github/workflows/css.yml
  scss/_button-group.scss
  scss/_nav.scss
  scss/_navbar.scss
  scss/_orange-navbar.scss
  scss/_popover.scss
  scss/_variables.scss
  scss/forms/_form-check.scss
  scss/forms/_form-range.scss
  scss/mixins/_caret.scss
Labels: v5, css, enhancement

#1674 fix(tables): preserve table row heights with icons and thumbnails
  scss/_tables.scss
  scss/_variables.scss
  site/content/docs/5.3/content/tables.md
  site/content/docs/5.3/migration.md
Labels: v5, fix, passed design review

#1779 feat(forms): change rendering of help texts based on UI Kit v5
  scss/_variables.scss
  scss/forms/_form-text.scss
  site/content/docs/5.3/migration.md
Labels: v5, fix, css, passed design review

#1954 chore(merge main): patched commit → fdd306f
  build/generate-sri.js
  package-lock.json
  package.json
  scss/_orange-navbar.scss
  scss/helpers/_color-bg.scss
  scss/helpers/_colored-links.scss
  scss/tests/mixins/_utilities.test.scss
  site/assets/scss/_colors.scss
  site/content/docs/5.3/components/alerts.md
  site/content/docs/5.3/components/list-group.md
  site/content/docs/5.3/components/modal.md
  site/content/docs/5.3/components/navbar.md
  site/content/docs/5.3/content/tables.md
  site/content/docs/5.3/customize/color-modes.md
  site/content/docs/5.3/customize/components.md
  site/content/docs/5.3/examples/_index.md
  site/content/docs/5.3/forms/validation.md
  site/content/docs/5.3/getting-started/javascript.md
  site/content/docs/5.3/getting-started/vite.md
  site/content/docs/5.3/helpers/focus-ring.md
  site/content/docs/5.3/helpers/icon-link.md
  site/content/docs/5.3/helpers/ratio.md
  site/content/docs/5.3/layout/breakpoints.md
  site/content/docs/5.3/layout/containers.md
  site/content/docs/5.3/layout/grid.md
  site/content/docs/5.3/migration.md
  site/content/docs/5.3/utilities/background.md
  site/content/docs/5.3/utilities/borders.md
  site/content/docs/5.3/utilities/colors.md
  site/content/docs/5.3/utilities/display.md
  site/content/docs/5.3/utilities/flex.md
  site/content/docs/5.3/utilities/float.md
  site/content/docs/5.3/utilities/interactions.md
  site/content/docs/5.3/utilities/link.md
  site/content/docs/5.3/utilities/object-fit.md
  site/content/docs/5.3/utilities/opacity.md
  site/content/docs/5.3/utilities/overflow.md
  site/content/docs/5.3/utilities/position.md
  site/content/docs/5.3/utilities/shadows.md
  site/content/docs/5.3/utilities/sizing.md
  site/content/docs/5.3/utilities/spacing.md
  site/content/docs/5.3/utilities/text.md
  site/content/docs/5.3/utilities/vertical-align.md
  site/content/docs/5.3/utilities/visibility.md
  site/content/docs/5.3/utilities/z-index.md
  site/data/examples.yml
Labels: v5, chore, merge

#1987 chore(workflows): add a workflow to automatically update Netlify preview URLs after opening a PR
  .github/workflows/update-pr-desc-links.yml
Labels: github_actions

#2000 chore(merge main): patched commit → 08cde8d
  package-lock.json
  package.json
Labels: v5, chore, merge

#1953 Fix missing attribute in form example
  site/content/docs/5.3/examples/form/form.js
  site/content/docs/5.3/migration.md
Labels: v5, accessibility, docs, fix

#1904 Cards: Some a11y fixes
  site/content/docs/5.3/migration.md
  site/layouts/shortcodes/card.html
Labels: v5, accessibility, examples, fix, enhancement

#1952 Utilities: Provide valid values to `.lh-*`
  scss/_utilities.scss
  site/content/docs/5.3/migration.md
Labels: v5, css, utilities
