Repository Orange-OpenSource/Orange-Boosted-Bootstrap, pull requests merged in 2024-08, with the labels that each got.

#2651 [OUDS] docs(utilities): add 'Visibility' page
  site/content/docs/0.0/utilities/visibility.md
  site/data/sidebar.yml
Labels: docs

#2660 [OUDS] Docs(utilities): add 'Flex' page
  site/content/docs/0.0/utilities/flex.md
  site/data/sidebar.yml
Labels: docs

#2665 docs: add accessibility statement
  .cspell.json
  site/assets/scss/_boosted.scss
  site/content/docs/5.3/accessibility-statement/_index.md
  site/layouts/partials/footer.html
Labels: docs

#2668 [OUDS] Docs: add 'Utilities > Vertical align' page
  site/content/docs/0.0/utilities/vertical-align.md
  site/data/sidebar.yml
Labels: docs

#2663 [OUDS] Docs: add 'Utilities > Object fit' page
  site/content/docs/0.0/utilities/object-fit.md
  site/data/sidebar.yml
Labels: docs

#2664 [OUDS] Docs: add 'Utilities > Overflow' page
  site/content/docs/0.0/utilities/overflow.md
  site/data/sidebar.yml
Labels: docs

#2662 [OUDS] Docs: add 'Utilities > Interactions' page
  site/content/docs/0.0/utilities/interactions.md
  site/data/sidebar.yml
Labels: docs

#2671 Docs: Overflow remove `.bg-white`
  site/content/docs/5.3/utilities/overflow.md
Labels: v5, docs, enhancement

#2661 [OUDS] Docs: add 'Utilities > Float' page
  site/content/docs/0.0/utilities/float.md
  site/data/sidebar.yml
Labels: docs

#2666 [OUDS] Docs: add 'Utilities > Position' page
  site/content/docs/0.0/utilities/api.md
  site/content/docs/0.0/utilities/position.md
  site/data/sidebar.yml
Labels: docs

#2672 [OUDS] Docs: Add 'Helper > Position' page
  site/content/docs/0.0/helpers/position.md
  site/data/sidebar.yml
Labels: docs

#2673 [OUDS] Docs: add 'Helpers > Clearfix' page
  site/content/docs/0.0/helpers/clearfix.md
  site/content/docs/0.0/utilities/float.md
  site/data/sidebar.yml
Labels: docs

#2674 [OUDS] Docs: add 'Helpers > Visually Hidden' page
  site/content/docs/0.0/helpers/visually-hidden.md
  site/data/sidebar.yml
Labels: docs

#2676 Chore merge main from 6ca9152 to 8c10ee8
  js/src/dom/manipulator.js
  package-lock.json
  package.json
  site/layouts/partials/examples/main.html
  site/layouts/partials/home/components-utilities.html
  site/layouts/partials/home/css-variables.html
  site/layouts/partials/home/customize.html
  site/layouts/partials/home/get-started.html
  site/layouts/partials/home/orange-design-system.html
  site/layouts/partials/home/plugins.html
Labels: v5, chore, merge

#2678 docs(a11y): drop `focusable='false'` for SVGs
  site/content/docs/5.3/components/badge.md
  site/content/docs/5.3/components/buttons.md
  site/content/docs/5.3/components/close-button.md
  site/content/docs/5.3/components/orange-navbar.md
  site/content/docs/5.3/components/tags.md
  site/content/docs/5.3/components/title-bars.md
  site/content/docs/5.3/components/tooltips.md
  site/content/docs/5.3/content/tables.md
  site/content/docs/5.3/dark-mode.md
  site/content/docs/5.3/examples/download-app/index.html
  site/content/docs/5.3/examples/form/index.html
  site/content/docs/5.3/examples/stickers/index.html
  site/content/docs/5.3/examples/tags/index.html
  site/content/docs/5.3/extend/icons.md
  site/content/docs/5.3/migration.md
  site/layouts/shortcodes/card.html
  site/layouts/shortcodes/orange-footer.html
  site/layouts/shortcodes/orange-global-headers.html
  site/layouts/shortcodes/orange-supra.html
  site/layouts/shortcodes/placeholder.html
Labels: v5, accessibility, docs

#2679 [OUDS] Docs: add 'Layout > Css grid' page
  site/content/docs/0.0/layout/css-grid.md
  site/data/sidebar.yml
Labels: docs

#2680 Docs: "Getting started > Introduction" fix typo
  site/content/docs/5.3/getting-started/introduction.md
Labels: v5, docs

#2659 [OUDS] Docs: add 'Utilities > Display' page
  site/content/docs/0.0/utilities/display.md
  site/data/sidebar.yml
Labels: docs

#2669 [OUDS] Docs: add 'Utilities > Z-index' page
  site/content/docs/0.0/utilities/z-index.md
  site/data/sidebar.yml
Labels: docs

#2658 [OUDS] docs: add 'Getting started > Introduction' page
  site/content/docs/0.0/getting-started/introduction.md
  site/data/sidebar.yml
Labels: docs

#2675 [OUDS] Docs: Add 'Getting started > Accessibility' page
  site/content/docs/0.0/getting-started/accessibility.md
  site/data/sidebar.yml
Labels: docs

#2681 [OUDS] Docs(helpers): add 'Stacks' page
  site/content/docs/0.0/helpers/stacks.md
  site/data/sidebar.yml
Labels: docs

#2682 Chore merge from 4e954ea to 3083596
  .github/CONTRIBUTING.md
  scss/_functions.scss
  scss/_variables.scss
  scss/mixins/_target-size.scss
  scss/mixins/_visually-hidden.scss
  site/content/docs/5.3/components/carousel.md
  site/content/docs/5.3/components/dropdowns.md
  site/content/docs/5.3/components/tooltips.md
  site/content/docs/5.3/getting-started/accessibility.md
  site/content/docs/5.3/migration.md
  site/content/docs/5.3/utilities/colors.md
Labels: v5, chore, merge

#2684 [OUDS] Docs: Add 'Getting started > Browsers & devices' page
  site/content/docs/0.0/getting-started/browsers-devices.md
  site/data/sidebar.yml
Labels: docs

#2685 Docs: Add 'Getting started > Contents' page
  site/content/docs/0.0/getting-started/contents.md
  site/content/docs/0.0/getting-started/introduction.md
  site/data/sidebar.yml
Labels: docs

#2686 docs(getting started): update 'Contents' page
  site/content/docs/5.3/getting-started/contents.md
Labels: v5, docs

#2573 [OUDS] feat: tokens architecture and opacity utilities
  .bundlewatch.config.json
  README.md
  dist/css/ouds-web-bootstrap.css
  dist/css/ouds-web-bootstrap.css.map
  dist/css/ouds-web-bootstrap.min.css
  dist/css/ouds-web-bootstrap.min.css.map
  dist/css/ouds-web-bootstrap.rtl.css
  dist/css/ouds-web-bootstrap.rtl.css.map
  dist/css/ouds-web-bootstrap.rtl.min.css
  dist/css/ouds-web-bootstrap.rtl.min.css.map
  scss/_utilities.scss
  scss/_variables.scss
  scss/mixins/_utilities.scss
  scss/ouds-web-bootstrap.scss
  scss/ouds-web-grid.scss
  scss/ouds-web-reboot.scss
  scss/ouds-web-utilities.scss
  scss/ouds-web.scss
  scss/tests/customize/_ouds-web-bootstrap.test.scss
  scss/tests/mixins/_auto-import-of-variables-dark.test.scss
  scss/tests/mixins/_color-modes.test.scss
  scss/tests/mixins/_utilities.test.scss
  scss/tests/utilities/_api.test.scss
  scss/tokens/_component.scss
  scss/tokens/_raw.scss
  scss/tokens/_semantic.scss
  site/assets/scss/_content.scss
  site/assets/scss/docs.scss
  site/assets/scss/search.scss
  site/content/docs/0.0/customize/custom-libraries.md
  site/content/docs/0.0/customize/options.md
  site/content/docs/0.0/getting-started/contents.md
  site/content/docs/0.0/migration-from-boosted.md
  site/content/docs/0.0/migration.md
  site/content/docs/0.0/utilities/api.md
  site/content/docs/0.0/utilities/opacity.md
  site/data/sidebar.yml
  site/layouts/partials/home/customize.html
  site/layouts/partials/stylesheet.html
  site/layouts/shortcodes/bootstrap-compatibility.html
Labels: study
